@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_extralight-webfont.woff2') format('woff2'),
         url('../fonts/neuron_extralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_light-webfont.woff2') format('woff2'),
         url('../fonts/neuron_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_regular-webfont.woff2') format('woff2'),
         url('../fonts/neuron_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_demibold-webfont.woff2') format('woff2'),
         url('../fonts/neuron_demibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_bold-webfont.woff2') format('woff2'),
         url('../fonts/neuron_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/neuron_extrabold-webfont.woff') format('woff');
    font-weight: 750;
    font-style: normal;

}


@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_black-webfont.woff2') format('woff2'),
         url('../fonts/neuron_black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_heavy-webfont.woff2') format('woff2'),
         url('../fonts/neuron_heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}









