@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_extralight-webfont.woff2') format('woff2'),
         url('../fonts/neuron_extralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_light-webfont.woff2') format('woff2'),
         url('../fonts/neuron_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_regular-webfont.woff2') format('woff2'),
         url('../fonts/neuron_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron-demibold-webfont.woff2') format('woff2'),
         url('../fonts/neuron-demibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_bold-webfont.woff2') format('woff2'),
         url('../fonts/neuron_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/neuron_extrabold-webfont.woff') format('woff');
    font-weight: 750;
    font-style: normal;

}


@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_black-webfont.woff2') format('woff2'),
         url('../fonts/neuron_black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron_heavy-webfont.woff2') format('woff2'),
         url('../fonts/neuron_heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'neuron';
    src: url('../fonts/neuron-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/neuron-heavyitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?snh4sp');
  src:  url('../fonts/icomoon.eot?snh4sp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?snh4sp') format('truetype'),
    url('../fonts/icomoon.woff?snh4sp') format('woff'),
    url('../fonts/icomoon.svg?snh4sp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-confirm:before {
  content: "\e912";
}
.icon-not_confirm:before {
  content: "\e913";
}
.icon-sendvich:before {
  content: "\e911";
}
.icon-download:before {
  content: "\e901";
}
.icon-download2:before {
  content: "\e908";
}
.icon-hd:before {
  content: "\e90b";
}
.icon-mobile:before {
  content: "\e90c";
}
.icon-open_lock:before {
  content: "\e90d";
}
.icon-secure2:before {
  content: "\e90e";
}
.icon-speed:before {
  content: "\e90f";
}
.icon-update:before {
  content: "\e910";
}
.icon-arrow2:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-billing:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e902";
}
.icon-play2:before {
  content: "\e903";
}
.icon-protection:before {
  content: "\e904";
}
.icon-secure:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
