$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'base/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/btn';

body{
  background-image:url(../images/bg-page.jpg);
  background-position:50% 0;
  min-height:100vh;
}
#wrapper {
  position:relative;
  overflow:hidden;
}
.container{
  @extend %clearfix;
  max-width:1124px;
  margin:0 auto;
  padding:0 12px;
}
.placeholder{
  .logo-box{
    display:block;
    margin-bottom:-90px;
    img{
      display:block;
      margin:0 auto;
    }
  }
  .visual-box{
    margin:0 -150px;
    img{
      display:block;
    }
  }
  .text-box{
    background:url(../images/bg-text-placeholder.jpg) no-repeat;
    box-shadow:0 1px 1px rgba(255, 255, 255, 0.2) inset;
    background-size: cover;
    border-radius:16px;
    overflow:hidden;
    text-align:center;
    padding:56px 4% 90px;
    margin-bottom:40px;
    font-size:28px;
    h1{ margin: 0 0 15px; }
    p{
      margin:0;
      text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
  @include media('<=desktop') {
    .logo-box{
      margin-top:-50px;
    }
  }
  @include media('<tablet'){
    .logo-box{
      margin-top:-71px;
    }
    .text-box{
      h1{font-size:46px;}
      font-size:24px;
      border-radius:0;
      margin:0 -12px;
      padding: 35px 4%;
    }
    @include media('<phone'){
      .logo-box{
        margin:-50px 0;
      }
    }
  }
}
#header{
  position:relative;
  padding:25px 0;
  z-index:2;
  @include media('<tablet'){
    padding:15px 0;
  }
}
.logo{
  float:left;
  img{
    display:block;
  }
  @include media('<phone'){
    width:240px;
  }
}
.page-overlay{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: rgba(26, 59, 96, 0.7);
  display:none;
}
.nav-active{
  .page-overlay{
    display:block;
  }
  #nav .slide-nav{margin:0;}
}
#nav{
  float:right;
  padding:15px 0;
  .nav-opener{
    display:inline-block;
    vertical-align:top;
    width:30px;
    height:23px;
    position:relative;
    &:before, &:after, span{
      content:'';
      position:absolute;
      top:0;
      left:0;
      right:0;
      height:3px;
      border-radius:3px;
      background: $white;
    }
    span{
      top:50%;
      transform: translateY(-50%);
    }
    &:after{
      top:auto;
      bottom:0;
    }
  }
  .slide-nav{
    position:fixed;
    right:0;
    top:0;
    z-index:2;
    width: 280px;
    height:100%;
    overflow-y:auto;
    padding:40px 20px 12px;
    background: $black;
    margin:0 -280px 0 0;
    transition:margin 0.2s linear;
    .nav-close{
      position:absolute;
      top:15px;
      right:15px;
      width:30px;
      height:23px;
      &:before, &:after{
        content:'';
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:3px;
        border-radius:3px;
        background: $white;
        transform: rotate(45deg);
        margin-top:10px;
      }
      &:after{
        transform: rotate(-45deg);
      }
    }
    ul{
      @extend %listreset;
      text-align:right;
      padding:30px 0 0;
      font-size:22px;
      li{
        margin:0 0 15px;
      }
      a{
        transition:all 0.2s linear;
        &:hover{
          text-decoration:none;
          color: $pink;
        }
      }
    }
  }
}

#main{
  position:relative;
  overflow:hidden;
  z-index:1;
}
h1{
  @include media('<=desktop'){
    font-size:48px;
  }
  @include media('<tablet'){
    font-size:42px;
  }
}
.post-holder{
  .post:nth-child(even){
    background:url(../images/bg-post-even.jpg) repeat;
    box-shadow:0 1px 1px $border-color inset;
    .holder{
      flex-direction: row-reverse;
    }
  }
  .post:first-child{
    padding:64px 0 188px;
  }
  @include media('<=desktop'){
    .post:first-child{
      padding:64px 0 74px;
    }
  }
  @include media('<tablet'){
    .post:first-child{
      padding:50px 0;
    }
  }
  @include media('<phone'){
    .post:first-child{
      padding:20px 0 50px;
    }
  }
}
.post{
  padding:174px 0;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);
  position:relative;
  &:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
    background:url(../images/shadow-post.png) no-repeat 50% 50%;
  }
  h1{
    text-align:center;
    margin:0 0 42px;
    position:relative;
    z-index:2;
  }
  .holder{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    z-index:2;
    position:relative;
  }
  .img-hold{
    width:46.5%;
    border-radius:4px;
    box-shadow:0 10px 10px rgba(18, 26, 35, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.6) inset;
    overflow:hidden;
    img{display:block;}
    &.video-box{
      border-radius:2px;
      border:2px solid $gray;
      overflow:hidden;
      position:relative;
      box-shadow:0 10px 10px rgba(18, 26, 35, 0.2);
      img{border-radius:0;}
      a{
        display:block;
        position:relative;
        z-index:1;
        &:hover{text-decoration:none;}
        &:before{
          content:'';
          position:absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
          background: rgba(24, 57, 96, 0.5);
          z-index:2;
        }
        &:after{
          content: "\e902";
          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
          font-family: icomoon;
          font-size:64px;
          line-height:1;
          color: $white;
          z-index:3;
          text-shadow:none;
        }
      }
    }
  }
  .text-box{
    width:46.5%;
    p{margin:0 0 34px;}
  }
  @include media('<=desktop'){
    padding:74px 0;
  }
  @include media('<tablet'){
    &:before{display:none;}
    padding:50px 0;
    .holder{
      display:block;
      text-align:center;
    }
    .img-hold, .text-box{
      width:auto;
      text-align:left;
    }
    .img-hold{
      display:inline-block;
      vertical-align:top;
      margin:0 auto 15px;
    }
  }
}

.aside{
  background:url(../images/bg-post-even.jpg) repeat;
  box-shadow:0 1px 1px $border-color inset;
  text-align:center;
  padding:126px 0 72px;
  font-size:28px;
  line-height:1.214;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);
  h1{
    margin-bottom:22px;
    line-height:0.828;
    text-shadow: none;
  }
  p{margin:0 0 38px;}
  .btn-hold{
    .btn{
      margin:0 10px 15px;
    }
  }
  @include media('<=desktop'){
    padding:72px 0;
  }
  @include media('<tablet'){
    padding:50px 0;
    font-size:24px;
  }
}

#footer{
  padding:105px 0 82px;
  font-size:14px;
  text-align:center;
  a{
    color: $white;
  }
  .info-box{
    display:flex;
    width:100%;
    justify-content: space-between;
    .box{
      max-width:245px;
      display:flex;
      align-items: flex-end;
      justify-content: space-between;
      margin:0 0 0 10px;
      &:first-child{margin:0;}
    }
    .icon-box{
      color: $light-blue;
    }
    .icon-billing{font-size:62px;}
    .icon-protection{font-size:83px;}
    .icon-secure{font-size:76px;}
    .icon-box{
      margin:0 35px 0 0;
    }
    .text-box{text-align:left;}
    .title{
      display:block;
      text-transform:uppercase;
      color: $light-blue;
    }
    p{margin:0;}
  }
  @include media('<=desktop'){
    padding:72px 0;
  }
  @include media('<tablet'){
    padding:50px 0;
    .info-box{
      .icon-billing{font-size:50px;}
      .icon-protection{font-size:65px;}
      .icon-secure{font-size:56px;}
      .icon-box{
        margin:0 15px 0 0;
      }
    }
  }
  @include media('<phone'){
    padding:50px 0 30px;
    .info-box{
      display:block;
      .box,
      .box:first-child{
        margin:0 auto 20px;
      }
    }
  }
}
.service{
  @extend %listreset;
  margin:0 0 12px;
  li{
    display:inline-block;
    vertical-align:top;
    position:relative;
    padding:0 4px 0 0;
    &:first-child{
      &:before{
        content:'';
      }
    }
    &:before{
      content:'|';
      display:inline-block;
      vertical-align:top;
      margin:-1px 5px 0 0;
    }
  }
}
.copy{
  margin:0 0 50px;
  p{margin:0 0 12px;}
  @include media('<tablet'){
    margin:0 0 30px;
  }
}

.heading-box{
  background:url(../images/shadow-post02.png) no-repeat 50% 100%;
  padding:75px 0 72px;
  text-align:center;
  .container{ max-width:550px;}
  p{margin:0;}
}
.characters{
  .row{
    padding:70px 0 80px;
    position:relative;
    &:nth-child(odd){
      background:url(../images/bg-post-even.jpg) repeat;
    }
    &:before{
      content:'';
      background:url(../images/shadow-post02.png) no-repeat 50% 0;
      width:1187px;
      height:206px;
      position:absolute;
      bottom:0;
      z-index:1;
      left:0;
      width:100%;
    }
    .container{
      position:relative;
      z-index:2;
      display:flex;
      flex-wrap: wrap;
    }
  }
  .post-box{
    text-align:center;
    width:25%;
    display:flex;
    flex-wrap: wrap;
    .holder{
      display:flex;
      flex-wrap: wrap;
      align-content: space-between;
      width:100%;
      padding:0 4%;
      text-align:center;
    }
    h2, .img-hold, .text-box{width:100%;}
    .btn{
      min-width:172px;
      margin:0 auto;
      align-self:flex-end;
    }
  }
}